<!-- 全体のレイアウト: Drawer (サイドバー + メインコンテンツ) -->
<div class="drawer lg:drawer-open">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  
<!-- メインコンテンツエリア -->
  <div class="drawer-content flex flex-col bg-base-100 min-h-screen">
    <!-- Navbar (トップナビゲーション) -->
    <div class="navbar bg-base-100 border-b border-base-200 w-full sticky top-0 z-10">
      <div class="flex-none lg:hidden">
        <label for="my-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            >
            </path>
          </svg>
        </label>
      </div>
      <div class="flex-1">
        <a class="btn btn-ghost text-xl">Dashboard</a>
      </div>
    </div>
    
<!-- ページコンテンツ -->
    <main class="p-6">
      <form phx-submit="talk">
        <div class="flex flex-col p-6 w-full">
          <select name="id" class="select" phx-change="kitt">
            <%= for kitt <- @kitts do %>
              <%= if kitt == @kitt do %>
                <option value={kitt.id} selected>{kitt.name}@{kitt.id}</option>
              <% else %>
                <option value={kitt.id}>{kitt.name}@{kitt.id}</option>
              <% end %>
            <% end %>
          </select>
          <textarea
            phx-hook="EnterSubmit"
            id="user_text"
            name="user_text"
            class="textarea textarea-bordered w-full"
            placeholder="Let's talk to KITT"
          ></textarea>
          <button type="submit" class="btn btn-primary btn-sm">Talk</button>
        </div>
      </form>

      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <form phx-submit="delete_events">
            <input type="hidden" name="i" value={@p} />
            <div class="flex justify-between items-center mb-4">
              <h2 class="card-title">Recent Transactions</h2>
              <button
                type="submit"
                class="btn btn-error btn-outline btn-sm"
                data-confirm="Are you sure you want to delete the selected events?"
              >
                Delete
              </button>
            </div>
            <div class="overflow-x-auto">
              <table class="table table-zebra">
                <!-- ヘッド -->
                <thead>
                  <tr>
                    <th>
                      <label>
                        <input
                          type="checkbox"
                          class="checkbox"
                          onclick="document.getElementsByName('ids[]').forEach(el => el.checked = this.checked)"
                        />
                      </label>
                    </th>
                    <th>Role</th>
                    <th>Message</th>
                    <th>Action</th>
                    <th>Listener</th>
                    <th>Mood</th>
                    <th>Timestamp</th>
                  </tr>
                </thead>
                <tbody>
                  <%= for ev <- @events do %>
                    <tr class="hover">
                      <th>
                        <label>
                          <input type="checkbox" name="ids[]" value={ev.id} class="checkbox" />
                        </label>
                      </th>
                      <td>{ev.role}</td>
                      <td>
                        <div>{ev.content.message}</div>
                        <%= if ev.content.audio_path do %>
                          <div class="mt-2">
                            <audio
                              src={ev.content.audio_path}
                              controls
                              preload="none"
                              class="h-8 w-full max-w-xs"
                            >
                            </audio>
                          </div>
                        <% end %>
                      </td>
                      <td>
                        <%= if ev.content.action == "SystemActions" do %>
                          <button
                            class="btn btn-xs btn-outline btn-info whitespace-nowrap"
                            phx-click="show_actions"
                            phx-value-id={ev.id}
                          >
                            {length(ev.content.system_actions)} Actions
                          </button>
                        <% else %>
                          {ev.content.action}
                        <% end %>
                      </td>
                      <td>{ev.content.listener}</td>
                      <td>{ev.content.mood}</td>
                      <td>{ev.timestamp}</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </form>
          
<!-- ページネーション -->
          <div class="join flex justify-center mt-6">
            <button :if={@pa > 1} class="join-item btn" phx-click="page" phx-value-i={@pa - 1}>
              «
            </button>
            <%= for i <- @pa..@pz do %>
              <%= if i == @p do %>
                <button class="join-item btn btn-active btn-disabled">{i}</button>
              <% else %>
                <button class="join-item btn" phx-click="page" phx-value-i={i}>{i}</button>
              <% end %>
            <% end %>
            <button :if={@pz < @pl} class="join-item btn" phx-click="page" phx-value-i={@pz + 1}>
              »
            </button>
          </div>
        </div>
      </div>
    </main>

    <%= if @selected_system_actions do %>
      <div class="modal modal-open">
        <div class="modal-box">
          <h3 class="font-bold text-lg">System Actions</h3>
          <div class="py-4">
            <ul class="steps steps-vertical w-full">
              <%= for action <- @selected_system_actions do %>
                <li class="step step-primary w-full text-left" data-content="●">
                  <div class="flex justify-between w-full pl-2">
                    <span class="font-bold">{action.action}</span>
                    <span class="badge badge-ghost">{action.parameter}</span>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="modal-action">
            <button class="btn" phx-click="close_actions">Close</button>
          </div>
        </div>
        <div class="modal-backdrop" phx-click="close_actions"></div>
      </div>
    <% end %>
  </div>
  
<!-- サイドバー (Drawer Side) -->
  <div class="drawer-side z-20">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
      <!-- サイドバータイトル -->
      <li class="mb-4 text-lg font-bold px-4">KITT Agent</li>
      
<!-- メニュー項目 -->
      <li>
        <a class="active" href="/kitt-web">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
            />
          </svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href={~p"/kitt-web/kitts"}>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
            />
          </svg>
          KITTs
        </a>
      </li>
      <li>
        <a href={~p"/kitt-web/activities"}>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
            />
          </svg>
          Activities
        </a>
      </li>

      <div class="divider"></div>
      <li>
        <a class="active" href={~p"/kitt-web/settings"}>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
            />
          </svg>
          Settings
        </a>
      </li>
      <li>
        <a href="https://github.com/kjsd/kitt_agent" target="_blank">
          Documentation
        </a>
      </li>
    </ul>
  </div>
</div>
