services:
  app:
    build: .
    ports:
      - '4000:4000'
    command: mix phx.server
    environment:
      MIX_ENV: dev
      PORT: 4000
    volumes:
      - .:/app
    depends_on:
      - db
  db:
    image: postgres:18-alpine
    environment:
      LANG: ja_JP.utf8
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data/

volumes:
  db_data:
